/**********GENERAL***********/
body {
	color: dimgrey;
	background-color: floralwhite;
}


/**********HEADER***********/

@media (min-width: 48em) {
	.masthead-brand {
		float: left;
	}
	.nav-masthead {
		float: right;
	}
}

#header{
	display: flex;
	background-color:white;
}
/* Large */
.navigation {
	display: flex;
	flex-flow: row wrap;
	/* This aligns items to the end line on main-axis */
	justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
	.navigation {
		/* When on medium sized screens, we center it by evenly distributing empty space around items */
		justify-content: space-around;
	}
}

/* Small screens */
@media all and (max-width: 500px) {
	.navigation {
		/* On small screens, we are no longer using row direction but column */
		flex-direction: column;
	}
}



.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position
.sticky {
	position: fixed;
	top: 0px;
	width: 100%;
	padding-right:40px;

}

*/

/*********************CONTENT**********************/

.cover .btn-lg {
	padding: .75rem 1.25rem;
	font-weight: 700;
}

#intro {
	padding:100px;
}

#content {
	padding-left: 2em;
	padding-right: 2em;
}